<div class="row">
  <div class="col-md-8">
    <div class="media">
      
      <div class="media-body">
        <h2 class="media-heading user-name"><%= @user.name %> To-Do Items</h2>
      </div>
        <div class="media">
          <div class="js-items">
            <%= render partial: 'items/item', collection: @items %>
          </div>
            <div class="new-item">
              <%= render partial: 'items/form' %>
            </div>
        </div>  
    </div>
  </div>
</div>

