<div class="item-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>To-Do items</h1>
      <ul class="items list-unstyled">
       <%= render @items %>
      </ul>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render partial: 'items/form' %>
      </div>
    </div>
  </div>
