<br>
<div class="jumbotron">
<h1>Welcome to Blocitoff</h1>
<p>This is the homepage for Blocitoff</p>

<p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Blocitoff</h2>
    <p> A self-destructing to-do list to keep you focused on the things that really matter.</p>
  </div>
</div>