<div class="container">
  <h2><center>My todos</center></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>Days left</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>    
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>    
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>    
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>    
      </tr>
    </tbody>
  </table>
</div>