<li class="item clearfix">
  <div class='pull-left'><%= item.name %></div>
  
  <div class='time-left text-center'><%= "#{item.days_left} days left" %></div>
  
  <div class='pull-right'><%= link_to " ", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok'%></div>
</li>
