@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.items > .item:nth-child(even) {
  background-color: #C5E1EB;
}

.item{
  padding: 10px;
}

.days_left {
  text-align: center;
}